@page

@{ 
    ViewBag.Title = "Index";
}

<h2>Date Pickers</h2>
<label for="start">Start date:</label>
@(Html.Kendo().DatePicker()
    .Name("start")
    .Value(new DateTime(2013, 09, 28))
    .Max(new DateTime(2014, 09, 28))
    .Events(e => e.Change("startChange"))
)

<label for="end">End date:</label>
@(Html.Kendo().DatePicker()
    .Name("end")
    .Value(new DateTime(2014, 09, 28))
    .Min(new DateTime(2013, 09, 28))
    .Events(e => e.Change("endChange"))
)

<script>
    function startChange() {
        const endPicker = $('#end').data('kendoDatePicker'),
            startDate = this.value();
        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        const startPicker = $('#start').data('kendoDatePicker'),
            endDate = this.value();
        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() + 1);
            startPicker.min(endDate);
        }
    }
</script>